h1{
    color: darkblue;
    font-size: 50px;
}
body{background: #F4F4F4;

}
#demo{
    font-size: 12px;
    color: darkblue;
}
.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #F4343F;
    background: #FF9C9C;
}
.flash{
    padding: 10px;
}
.btn-close{
    margin: -5px;
}