{% extends 'base.html' %}

{% block content %}

{% for cat,msg in get_flashed_messages(True) %}
<div class="alert alert- flash {{cat}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close me-2" data-bs-dismiss="alert" aria-label="Close"></button>
    {{msg}}
</div>
{% endfor %}
<form method="POST">
        {{ form.hidden_tag() }}  {# Важно включить скрытое поле CSRF токена #}

        <label for="email">Email address:</label>
        {{ form.email(class="form-control", id="email") }}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br>
        <label for="password">New Password:</label>
        {{ form.password_hash(class="form-control", id="password") }}
        {% for error in form.password_hash.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}<br>

        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}

