{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}


{% block content %}

{% for cat,msg in get_flashed_messages(True) %}
<div class="alert alert- flash {{cat}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close me-2" data-bs-dismiss="alert" aria-label="Close"></button>
    {{msg}}
</div>
{% endfor %}

   <h1>Дабаебсынба парольды калай умытып калдын?</h1>
    <br>


<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h3>Forgot password</h3>
        <p>Please enter your email address and we will send a password </p>
        {% if error %}
        <div class="alert alert-success" role="alert">{{ error }}</div>
        {% endif %}

         {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}

        <form method="POST" action="{{ url_for('forgot') }}" role="form">
            {{ form.hidden_tag() }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}<br>

            {{ form.submit(class="btn btn-secondary") }}

        </form>
    </div>
</div>

{% endblock %}

