{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}


{% block content %}

{% for cat,msg in get_flashed_messages(True) %}
<div class="alert alert- flash {{cat}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close me-2" data-bs-dismiss="alert" aria-label="Close"></button>
    {{msg}}
</div>
{% endfor %}

<p>We have received a request to reset your password.</p>

<p>To reset your password,please click on this link: <br>
{{ config.HOSTNAME }}/password_reset/{{ user.username }}/{{ user.change_configuration.password_reset_code }}
</p>
{% endblock %}

